

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>等比例列表排列</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/carddiv.css"  media="all"/>
  <script src="../../../../jquery.js"></script>
</head>
<body>
	<a name="top"></a>
  <!--轮播图-->
  <div class="layui-row" style="margin: 20px 15px 0px 15px;">
  	<!--<div class="layui-col-md10 layui-col-md-offset1">-->
      <div class="grid-demo">
      	<div class="layui-carousel" id="test1">
				  <div carousel-item>
				    <div><img src="../../../../static/image/banner5.jpg" height="100%" width="100%"></div>
				    <div><img src="../../../../static/image/banner4.jpg" height="100%" width="100%"></div>
				    <div><img src="../../../../static/image/banner2.jpg" height="100%" width="100%"></div>
				    <div><img src="../../../../static/image/banner3.jpg" height="100%" width="100%"></div>
				    <div><img src="../../../../static/image/banner6.jpg" height="100%" width="100%"></div>
				  </div>
				</div>
      <!--</div>-->
    </div>
  </div>
<!--发现音乐和轮播图分割线-->
  <div>
  	<hr class="layui-bg-blue"/>
  	<a name="findSong"><span>发现音乐</span></a>
  	<hr />
  </div>
  <!---->

  <div class="layui-fluid" id="LAY-component-grid-list">
    <div class="layui-row layui-col-space25 demo-list">
      <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
        <!-- 填充内容 -->
        <div class="layui-card">
          <div class="carddiv">
            <!--引入照片 0-->
          	<img src="../../../../static/image/0.jfif" />
          	<div class="carddiv_up">
          		<!--跳转播放界面-->
		        	<a href="#"><i class="layui-icon layui-icon-play carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_add">
          		<!--添加到播放列表-->
		        	<a href="#"><i class="layui-icon layui-icon-add-circle carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_love">
          		<!--添加收藏-->
		        	<a href="#"><i class="layui-icon layui-icon-star carddiv_icon"></i></a>   
		        </div>
		        
          </div>
          <!--引入照片结束-->
          <div class="card_song_name">
          	<span >歌曲名称:</span>
          	<br />
          	<span>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:</span>
          </div>
          
        </div>
      </div>
			<div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
				<div class="layui-card">
					<!--专辑详情介绍开始-->
          <div class="carddiv">
            <!--引入照片 1-->
          	<img src="../../../../static/image/2.jpg" />
          	<div class="carddiv_up">
          		<!--跳转播放界面-->
		        	<a href="#"><i class="layui-icon layui-icon-play carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_add">
          		<!--添加到播放列表-->
		        	<a href="#"><i class="layui-icon layui-icon-add-circle carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_love">
          		<!--添加收藏-->
		        	<a href="#"><i class="layui-icon layui-icon-star carddiv_icon"></i></a>   
		        </div>
		        
          </div>
          <!--引入照片结束-->
          <div class="card_song_name">
          	<span >歌曲名称:</span>
          	<br />
          	<span>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:</span>
          </div>
          <!--专辑详情介绍结束-->
				</div>
			</div>
      <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
        <div class="layui-card">
          <!--专辑详情介绍开始-->
          <div class="carddiv">
            <!--引入照片 2-->
          	<img src="../../../../static/image/3.jfif" />
          	<div class="carddiv_up">
          		<!--跳转播放界面-->
		        	<a href="#"><i class="layui-icon layui-icon-play carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_add">
          		<!--添加到播放列表-->
		        	<a href="#"><i class="layui-icon layui-icon-add-circle carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_love">
          		<!--添加收藏-->
		        	<a href="#"><i class="layui-icon layui-icon-star carddiv_icon"></i></a>   
		        </div>
		        
          </div>
          <!--引入照片结束-->
          <div class="card_song_name">
          	<span >歌曲名称:</span>
          	<br />
          	<span>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:</span>
          </div>
          <!--专辑详情介绍结束-->
        </div>
      </div>
      <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
        <div class="layui-card">
          <!--专辑详情介绍开始-->
          <div class="carddiv">
            <!--引入照片 3-->
          	<img src="../../../../static/image/4.jfif" />
          	<div class="carddiv_up">
          		<!--跳转播放界面-->
		        	<a href="#"><i class="layui-icon layui-icon-play carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_add">
          		<!--添加到播放列表-->
		        	<a href="#"><i class="layui-icon layui-icon-add-circle carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_love">
          		<!--添加收藏-->
		        	<a href="#"><i class="layui-icon layui-icon-star carddiv_icon"></i></a>   
		        </div>
		        
          </div>
          <!--引入照片结束-->
          <div class="card_song_name">
          	<span >歌曲名称:</span>
          	<br />
          	<span>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:</span>
          </div>
          <!--专辑详情介绍结束-->
        </div>
      </div>
      <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
        <div class="layui-card">
          <!--专辑详情介绍开始-->
          <div class="carddiv">
            <!--引入照片 4-->
          	<img src="../../../../static/image/5.jfif" />
          	<div class="carddiv_up">
          		<!--跳转播放界面-->
		        	<a href="#"><i class="layui-icon layui-icon-play carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_add">
          		<!--添加到播放列表-->
		        	<a href="#"><i class="layui-icon layui-icon-add-circle carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_love">
          		<!--添加收藏-->
		        	<a href="#"><i class="layui-icon layui-icon-star carddiv_icon"></i></a>   
		        </div>
		        
          </div>
          <!--引入照片结束-->
          <div class="card_song_name">
          	<span >歌曲名称:</span>
          	<br />
          	<span>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:</span>
          </div>
          <!--专辑详情介绍结束-->
        </div>
      </div>
      <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
        <div class="layui-card">
          <!--专辑详情介绍开始-->
          <div class="carddiv">
            <!--引入照片 5-->
          	<img src="../../../../static/image/2.jpg" />
          	<div class="carddiv_up">
          		<!--跳转播放界面-->
		        	<a href="#"><i class="layui-icon layui-icon-play carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_add">
          		<!--添加到播放列表-->
		        	<a href="#"><i class="layui-icon layui-icon-add-circle carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_love">
          		<!--添加收藏-->
		        	<a href="#"><i class="layui-icon layui-icon-star carddiv_icon"></i></a>   
		        </div>
		        
          </div>
          <!--引入照片结束-->
          <div class="card_song_name">
          	<span >歌曲名称:</span>
          	<br />
          	<span>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:</span>
          </div>
          <!--专辑详情介绍结束-->
        </div>
      </div>
      <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
        <div class="layui-card">  
          <!--专辑详情介绍开始-->
          <div class="carddiv">
            <!--引入照片 6-->
          	<img src="../../../../static/image/6.jpg" />
          	<div class="carddiv_up">
          		<!--跳转播放界面-->
		        	<a href="#"><i class="layui-icon layui-icon-play carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_add">
          		<!--添加到播放列表-->
		        	<a href="#"><i class="layui-icon layui-icon-add-circle carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_love">
          		<!--添加收藏-->
		        	<a href="#"><i class="layui-icon layui-icon-star carddiv_icon"></i></a>   
		        </div>
		        
          </div>
          <!--引入照片结束-->
          <div class="card_song_name">
          	<span >歌曲名称:</span>
          	<br />
          	<span>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:</span>
          </div>
          <!--专辑详情介绍结束-->
        </div>
      </div>
      <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
        <div class="layui-card">
          <!--专辑详情介绍开始-->
          <div class="carddiv">
            <!--引入照片 7-->
          	<img src="../../../../static/image/8.jpg" />
          	<div class="carddiv_up">
          		<!--跳转播放界面-->
		        	<a href="#"><i class="layui-icon layui-icon-play carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_add">
          		<!--添加到播放列表-->
		        	<a href="#"><i class="layui-icon layui-icon-add-circle carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_love">
          		<!--添加收藏-->
		        	<a href="#"><i class="layui-icon layui-icon-star carddiv_icon"></i></a>   
		        </div>
		        
          </div>
          <!--引入照片结束-->
          <div class="card_song_name">
          	<span >歌曲名称:</span>
          	<br />
          	<span>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:</span>
          </div>
          <!--专辑详情介绍结束-->
        </div>
      </div>
      <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
        <div class="layui-card">
          <!--专辑详情介绍开始-->
          <div class="carddiv">
            <!--引入照片 8-->
          	<img src="../../../../static/image/10.jpg" />
          	<div class="carddiv_up">
          		<!--跳转播放界面-->
		        	<a href="#"><i class="layui-icon layui-icon-play carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_add">
          		<!--添加到播放列表-->
		        	<a href="#"><i class="layui-icon layui-icon-add-circle carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_love">
          		<!--添加收藏-->
		        	<a href="#"><i class="layui-icon layui-icon-star carddiv_icon"></i></a>   
		        </div>
		        
          </div>
          <!--引入照片结束-->
          <div class="card_song_name">
          	<span >歌曲名称:</span>
          	<br />
          	<span>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:</span>
          </div>
          <!--专辑详情介绍结束-->
        </div>
      </div>
      <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
        <div class="layui-card">
          <!--专辑详情介绍开始-->
          <div class="carddiv">
            <!--引入照片 9-->
          	<img src="../../../../static/image/9.jpg" />
          	<div class="carddiv_up">
          		<!--跳转播放界面-->
		        	<a href="#"><i class="layui-icon layui-icon-play carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_add">
          		<!--添加到播放列表-->
		        	<a href="#"><i class="layui-icon layui-icon-add-circle carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_love">
          		<!--添加收藏-->
		        	<a href="#"><i class="layui-icon layui-icon-star carddiv_icon"></i></a>   
		        </div>
		        
          </div>
          <!--引入照片结束-->
          <div class="card_song_name">
          	<span >歌曲名称:</span>
          	<br />
          	<span>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:</span>
          </div>
          <!--专辑详情介绍结束-->
        </div>
      </div>
      <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
        <div class="layui-card">
          <!--专辑详情介绍开始-->
          <div class="carddiv">
            <!--引入照片 10-->
          	<img src="../../../../static/image/7.jpg" />
          	<div class="carddiv_up">
          		<!--跳转播放界面-->
		        	<a href="#"><i class="layui-icon layui-icon-play carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_add">
          		<!--添加到播放列表-->
		        	<a href="#"><i class="layui-icon layui-icon-add-circle carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_love">
          		<!--添加收藏-->
		        	<a href="#"><i class="layui-icon layui-icon-star carddiv_icon"></i></a>   
		        </div>
		        
          </div>
          <!--引入照片结束-->
          <div class="card_song_name">
          	<span >歌曲名称:</span>
          	<br />
          	<span>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:</span>
          </div>
          <!--专辑详情介绍结束-->
        </div>
      </div>
      <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
        <div class="layui-card">
          <!--专辑详情介绍开始-->
          <div class="carddiv">
            <!--引入照片 11-->
          	<img src="../../../../static/image/2.jpg" />
          	<div class="carddiv_up">
          		<!--跳转播放界面-->
		        	<a href="#"><i class="layui-icon layui-icon-play carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_add">
          		<!--添加到播放列表-->
		        	<a href="#"><i class="layui-icon layui-icon-add-circle carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_love">
          		<!--添加收藏-->
		        	<a href="#"><i class="layui-icon layui-icon-star carddiv_icon"></i></a>   
		        </div>
		        
          </div>
          <!--引入照片结束-->
          <div class="card_song_name">
          	<span >歌曲名称:</span>
          	<br />
          	<span>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:</span>
          </div>
          <!--专辑详情介绍结束-->
        </div>
      </div>
      <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
        <div class="layui-card">
          <!--专辑详情介绍开始-->
          <div class="carddiv">
            <!--引入照片 12-->
          	<img src="../../../../static/image/qq.jpg" />
          	<div class="carddiv_up">
          		<!--跳转播放界面-->
		        	<a href="#"><i class="layui-icon layui-icon-play carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_add">
          		<!--添加到播放列表-->
		        	<a href="#"><i class="layui-icon layui-icon-add-circle carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_love">
          		<!--添加收藏-->
		        	<a href="#"><i class="layui-icon layui-icon-star carddiv_icon"></i></a>   
		        </div>
		        
          </div>
          <!--引入照片结束-->
          <div class="card_song_name">
          	<span >歌曲名称:</span>
          	<br />
          	<span>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:</span>
          </div>
          <!--专辑详情介绍结束-->
        </div>
      </div>
      <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
        <div class="layui-card">
          <!--专辑详情介绍开始-->
          <div class="carddiv">
            <!--引入照片 13-->
          	<img src="../../../../static/image/6.jpg" />
          	<div class="carddiv_up">
          		<!--跳转播放界面-->
		        	<a href="#"><i class="layui-icon layui-icon-play carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_add">
          		<!--添加到播放列表-->
		        	<a href="#"><i class="layui-icon layui-icon-add-circle carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_love">
          		<!--添加收藏-->
		        	<a href="#"><i class="layui-icon layui-icon-star carddiv_icon"></i></a>   
		        </div>
		        
          </div>
          <!--引入照片结束-->
          <div class="card_song_name">
          	<span >歌曲名称:</span>
          	<br />
          	<span>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:</span>
          </div>
          <!--专辑详情介绍结束-->
        </div>
      </div>
      <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
        <div class="layui-card">
          <!--专辑详情介绍开始-->
          <div class="carddiv">
            <!--引入照片14-->
          	<img src="../../../../static/image/11.jpg" />
          	<div class="carddiv_up">
          		<!--跳转播放界面-->
		        	<a href="#"><i class="layui-icon layui-icon-play carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_add">
          		<!--添加到播放列表-->
		        	<a href="#"><i class="layui-icon layui-icon-add-circle carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_love">
          		<!--添加收藏-->
		        	<a href="#"><i class="layui-icon layui-icon-star carddiv_icon"></i></a>   
		        </div>
		        
          </div>
          <!--引入照片结束-->
          <div class="card_song_name">
          	<span >歌曲名称:</span>
          	<br />
          	<span>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:</span>
          </div>
          <!--专辑详情介绍结束-->
        </div>
      </div>
      <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
        <div class="layui-card">
          <!--专辑详情介绍开始-->
          <div class="carddiv">
            <!--引入照片 15-->
          	<img src="../../../../static/image/13.jpg" />
          	<div class="carddiv_up">
          		<!--跳转播放界面-->
		        	<a href="#"><i class="layui-icon layui-icon-play carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_add">
          		<!--添加到播放列表-->
		        	<a href="#"><i class="layui-icon layui-icon-add-circle carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_love">
          		<!--添加收藏-->
		        	<a href="#"><i class="layui-icon layui-icon-star carddiv_icon"></i></a>   
		        </div>
		        
          </div>
          <!--引入照片结束-->
          <div class="card_song_name">
          	<span >歌曲名称:</span>
          	<br />
          	<span>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:</span>
          </div>
          <!--专辑详情介绍结束-->
        </div>
      </div>
      <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
        <div class="layui-card">
          <!--专辑详情介绍开始-->
          <div class="carddiv">
            <!--引入照片 16-->
          	<img src="../../../../static/image/16.jpg" />
          	<div class="carddiv_up">
          		<!--跳转播放界面-->
		        	<a href="#"><i class="layui-icon layui-icon-play carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_add">
          		<!--添加到播放列表-->
		        	<a href="#"><i class="layui-icon layui-icon-add-circle carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_love">
          		<!--添加收藏-->
		        	<a href="#"><i class="layui-icon layui-icon-star carddiv_icon"></i></a>   
		        </div>
		        
          </div>
          <!--引入照片结束-->
          <div class="card_song_name">
          	<span >歌曲名称:</span>
          	<br />
          	<span>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:</span>
          </div>
          <!--专辑详情介绍结束-->
        </div>
      </div>
      <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
        <div class="layui-card">
          <!--专辑详情介绍开始-->
          <div class="carddiv">
            <!--引入照片 17-->
          	<img src="../../../../static/image/14.jpg" />
          	<div class="carddiv_up">
          		<!--跳转播放界面-->
		        	<a href="#"><i class="layui-icon layui-icon-play carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_add">
          		<!--添加到播放列表-->
		        	<a href="#"><i class="layui-icon layui-icon-add-circle carddiv_icon"></i></a>   
		        </div>
		        <div class="carddiv_up_love">
          		<!--添加收藏-->
		        	<a href="#"><i class="layui-icon layui-icon-star carddiv_icon"></i></a>   
		        </div>
		        
          </div>
          <!--引入照片结束-->
          <div class="card_song_name">
          	<span >歌曲名称:</span>
          	<br />
          	<span>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:</span>
          </div>
          <!--专辑详情介绍结束-->
        </div>
      </div>
      
    </div>
    
  </div>
  <!--发现音乐和音乐人分割线-->
  <div>
  	<hr class="layui-bg-blue"/>
  	<a name="singer"><span>音乐人</span></a>
  	<hr />
  </div>
  <!---->
  <!--引入-->
  <div class="layui-fluid" id="LAY-component-grid-stack">
    <div class="layui-row layui-col-space10">
      <div class="layui-col-md4">
        <!-- 填充内容 -->
        <div class="layui-card">
          <div class="layui-card-header">音乐人名字：混元霹雳小旋风</div>
          <div class="layui-card-body">
          	 <div class="layui-row layui-col-space20 ">
					    <div class="layui-col-xs4">
					      <div class="grid-demo grid-demo-bg1" style="background-color: blue;"><img src="../../../../static/image/12.jpg"/></div>
					    </div>
					    <div class="layui-col-xs8">
					      <div class="grid-demo" >
					      	<table class="layui-table" lay-skin="nob" lay-size="sm" >
									  <colgroup>
									    <col width="60">
									    <col width="100">
									  </colgroup>
									  <thead>
									    <tr>
									      <th>音乐</th>
									      <th>热度</th>
									    </tr> 
									  </thead>
									  <tbody>
									    <tr>
									      <td>贤心</td>
									      <td><span class="layui-badge">赤</span></td>
									    </tr>
									    <tr>
									      <td>许闲心</td>
									      <td><span class="layui-badge layui-bg-blue">蓝</span></td>
									    </tr>
									  </tbody>
									</table>
					      </div>
					    </div>
					  </div>
          </div>
        </div>
      </div>
      
      <div class="layui-col-md4">
        <div class="layui-card">
          <div class="layui-card-header">02</div>
          <div class="layui-card-body">002</div>
        </div>
      </div>
      <div class="layui-col-md4">
        <div class="layui-card">
          <div class="layui-card-header">03</div>
          <div class="layui-card-body">003</div>
        </div>
      </div>
      <div class="layui-col-md4">
        <div class="layui-card">
          <div class="layui-card-header">04</div>
          <div class="layui-card-body">004</div>
        </div>
      </div>
      <div class="layui-col-md4">
        <div class="layui-card">
          <div class="layui-card-header">05</div>
          <div class="layui-card-body">005</div>
        </div>
      </div>
      <div class="layui-col-md4">
        <div class="layui-card">
          <div class="layui-card-header">06</div>
          <div class="layui-card-body">006</div>
        </div>
      </div>
    </div>
  </div>
  <!--引入-->
  <script src="../../../layuiadmin/layui/layui.js"></script>  
  <script>
	  layui.config({
	    base: '../../../layuiadmin/' //静态资源所在路径
	  }).extend({
	    index: 'lib/index' //主入口模块
	  }).use(['index']);
  </script>
	<script>
		layui.use('carousel', function(){
		  var carousel = layui.carousel;
		  //建造实例
	  carousel.render({
	    elem: '#test1'
	    ,width: '100%' //设置容器宽度
	    ,height:'300px'
	    ,arrow: 'always' //始终显示箭头
	    //,anim: 'updown' //切换动画方式
	  });
	});
	</script>
</body>
</html>